body {
    display: flex;
    flex-direction: column;
}

body > * {
    /* border: 1px solid red; */
    /* align-items: center; */
    /* justify-content: center; */
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    font-family: "Roboto", sans-serif;
}

ul {
    display: flex;
    gap: 2rem;
}

header span {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

header a {
    font-size: 18px;
    color: #e5e7eb;
}

ul,
header span {
    padding: 1rem 2rem;
}
