body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

body > * {
    /* border: 1px solid red; */
    /* align-items: center; */
    /* justify-content: center; */
}

ul,
header span,
.hero,
.info,
.social-proof,
.call-to-action,
footer {
    padding: 0 5rem;
}

button {
    border: none;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

ul {
    display: flex;
    gap: 2rem;
}

header span {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

header a,
.hero .container p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    /* border: 1px solid red; */
    flex-wrap: wrap;
    /* align-content: center; */
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex: 0 1 40%;
}

.hero .container h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero .container button,
.call-to-action > div {
    background-color: #3882f6;
}

.hero .container button {
    border-radius: 5px;
    color: #f9faf8;
    font-size: 16px;
    padding: 0.5rem 2rem;
}

.hero img {
    flex-shrink: 1;
    min-width: 0px;
}

.info {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 1em;
}

.info .card-container {
    display: flex;
    justify-content: center;
    gap: 3em;
    flex-wrap: wrap;
}

.info .card-container .card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0 1 50px;
}

.info .card-container img {
    border-radius: 20px;
    border: 4px solid #3882f6;
}

.info .card-container p {
    font-size: 18px;
    color: #434343;
    text-align: center;
}

.social-proof {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding-top: 10rem;
    padding-bottom: 10rem;
    align-items: center;
}

.social-proof > * {
    width: 20em;
}

.social-proof h3 {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.social-proof p {
    margin-top: 1em;
    align-self: flex-end;
    font-weight: bold;
}

.call-to-action {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.call-to-action > div {
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    border-radius: 0.5em;
    flex-wrap: wrap;
}

.call-to-action h4 {
    font-size: 29px;
    color: #f9faf8;
}

.call-to-action p {
    color: #e5e7eb;
}

.call-to-action button {
    border-radius: 6px;
    border: 3px solid white;
    background-color: transparent;
    color: #f9faf8;
    font-size: 16px;
    padding: 0.5rem 2rem;
    font-weight: bold;
}

footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}
